@import url(../section-title/section-title.css);
@import url(../section-subtitle/section-subtitle.css);
@import url(../cards/cards.css);
@import url(../cards/__description/cards__description.css);
@import url(../cards/__image/cards__image.css);
@import url(../cards/__item/cards__item.css);
@import url(../cards/__title/cards__title.css);

.techniques{
  display: flex;
  flex-direction: column;
  align-items:center;
  padding:100px 0 100px;
  max-width: 80%;
  margin:0 auto 0;
}










